*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins" sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #333;
    height: 1000px;
}

.navbar{
    background-color: rgb(91, 91, 95);
    color: #fff;
    
}
ul{
    list-style-type: none;
   
}
.navbar.logo{
    font-size: x-large;
    font-weight: bold;
    color: #d35e0f;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}
.container1{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.my-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    margin-top: 50px;
    height: 400px;
    width: 400px;
    border-radius: 100px;
   
}
.paragraphs{
    border: 3px;
    border-radius: 40px;
    color: #fff;
    background-color: rgb(59, 47, 47);
   height: 300px;
   width: 500px;
margin-left: 30px;
margin-right: 20px;

}
#one{
    padding: 30px;
   
}
#two{
    padding: 30px;
   
}
.skills{
    list-style: none;
    padding: 20px;
    margin-left: 500px;
    margin-right: 100px;
    box-shadow: 0 14px 28px ;
}
.skills h2{
    text-align: center;
    color: #fff;
}
   .skills h4{
       margin: 5px;
       color: #fff;
   }
   .bar{
       background: #353b48;
       display: block;
       height: 20px;
       border: 1px solid rgba(0,0,0,0.3);
       border-radius: 10px;
         overflow: hidden;
         box-shadow: 0 14px 28px rgba(0,0,0,0.12),0 8px 2px;
         
   }
   .bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.12),0 12px 2px;
   }
   .bar span{
       height: 20px;
       float: left;
       background: linear-gradient(135deg,rgba(236,0,140,1)0%, rgba(252,103,103,1)100%);
   }
   .html{
       width: 90%;
       animation: html 3s;
   }
   .css{
       width: 70%;
       animation: css 3s;
   }
   .js{
       width: 60%;
       animation: js 3s;
   }
@keyframes html{
    0%{
        width: 0%;
    }
100% {
    width: 90%;
}
}
@keyframes css{
    0%{
        width: 0%;
    }
100% {
    width: 70%;
}
}
@keyframes js{
    0%{
        width: 0%;
    }
100% {
    width: 60%;
}
}
 