*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins" sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #333;
}

.navbar{
    background-color: rgb(91, 91, 95);
    color: #fff;
    
}
ul{
    list-style-type: none;
   
}
.navbar.logo{
    font-size: x-large;
    font-weight: bold;
    color: #d35e0f;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}
.container1{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.my-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    margin-top: 50px;
    height: 400px;
    width: 400px;
    border-radius: 100px;
   
}
.paragraphs{
    border: 3px;
    border-radius: 40px;
    color: #fff;
    background-color: rgb(59, 47, 47);
   height: 300px;
   width: 500px;
margin-left: 30px;
margin-right: 20px;
}
#one{
    padding: 30px;
   
}
#two{
    padding: 30px;
   
}
   